<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina uñas y pedicura">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Jose Luis Ruiz">
    <meta name="keywords" content="Practica MasterD">
    <meta name="revisit-after" content="2 days">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>BlueNail-Studio</title>
    <link rel="icon" href="../image/Logo_real_tittle.png">

</head>

<body>
    <!--Cabecera con logo-->
    <header>
        <img src="../image/Logo_real.png" alt="imagen del logo" class="img_logo" width="465" height="465">
        <h1>Blue Nail by Carolina Martín</h1>
    
        <!--nav que contiene la barra de navegacion-->
        <nav class="menu_lateral">
            <ul>
                <li><a href="../index.html" >Inicio</a></li> 
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="precios.html">Precios</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
    
    <!--1er section que contiene el inicio de la página-->
    <section class="contenedor_contacto">
        <h2>Blue Nail es una empresa creada en 2012 en Benalmádena, Málaga, por Carolina Martín, una amante de la uñas y estética. Tenemos una larga experiencia y trabajamos con los mejores productos. Puede encontrarnos en la siguente dirección:</h2>
    </section>

    <!--2º section que contiene la dirección de la empresa-->
    <section class="direccion">
        <h2>Avenidad Blas Infante nº 17<br>
                e-mail: bluenail2012@gmail.com<br>
                Teléfono: 676189250<br>
                Ubicación:
        </h2>
        <img src="../image/mapa.png" alt="Imagen de ubicación" class="img_mapa" width="1313" height="718">
    </section>
    
    <!--3er section que contiene los enlaces a RR.SS.-->
    <section class="redes">
        <h3 class="h3_redes">Conocenos también a traves de Redes Sociales</h3>
        <div class="redes_sociales">
            <a href="https://facebook.com" target="_blank">
                <img src="../image/logo_faceb.png" alt="enlace a facebook" class="logo_facebook" width="148" height="148">
            </a>
            <a href="https://instagram.com" target="_blank">
                <img src="../image/logo_instagram.jpeg" alt="enlace a instagram" class="logo_instagram" width="148" height="148">
            </a>
            <a href="https://x.com" target="_blank">
                <img src="../image/logo_x.png" alt="enlace a X" class="logo_x" width="191" height="148">
            </a>
        </div>
    </section>

    <!--Botón que nos lleva directamente a la página de precios para pedir cita-->
    <span class="botonin">
        <a href="precios.html">Pide tu cita</a>
    </span>
    </main>

    <!--footer/pie de la página-->
    <footer>
        <p class="p-footer">&copy; 2025 Blue Nail Studio<br>
        Todos los derechos reservados.</p>
    </footer>
</body>
</html>